.navbar {
  background: #4a156b;
  padding: 1rem;
  color: #fff;
  /* position: fixed; */
  /* top: 0;
  right: 0;
  width: 100%; */
}

.navbar a {
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  padding: 6px 0;
}

.brand h2 {
  color: #febf05;
  margin: 0 auto;
}

.navbar a:hover {
  filter: brightness(120%);
}

.menu {
  color: #febf05;
}

