.searchbar form {
    display: flex;
    align-items: center;
  }
  .searchbar input {
    width: 6rem;
    margin-left: 10px;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .searchbar input:focus{
      color: black;
  }