.birthday {
  font-size: 2rem;
  margin: 0 4rem;
}
.birthday .celebrant {
  padding: 10px 16px;
  margin: 20px auto;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
  text-align: left;
}

.birthday p {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #e41749;
  font-weight: 700;
}

@media screen  and (max-width: 780px){
    .birthday p{
        font-size: 2rem;
        line-height: 2rem;
    }

    .birthday .celebrant{
        font-size: 1.5rem;
    }

}
