.birthday {
  margin: 0 2rem;
}
.birthday .celebrant {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  border: 1px solid rgb(199, 198, 198);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
  text-align: left;
}

.birthday h1 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #e41749;
  font-weight: 700;
}

.birthday p{
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.birthday p:last-child{
  margin-top: .5rem;
}

@media screen and (max-width: 780px) {
  .birthday p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .birthday .celebrant {
    margin-left: 1rem;
  }
}
